@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    padding: 60px 0 0;
    background-color: #d9d9d9;
}
.header {
    background-color: #FF8300;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0px 0px 1px white, 0 2px 4px -2px white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.navbar__logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 24px;
}
.ahorros{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.volver__link{
    font-size: 14px;
    color: #FF8300;
    text-decoration: none;
}
.volver__link--white{
    color: white;
}
.icons_gray{
    font-size: 14px;
    color: #78787A;
    text-decoration: none;
}
.ahorros__titulo{
    color: #FF8300;
    margin-top: 15px;
}
.ahorros__titulo--white{
    color: white;
}
.ahorros__information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
}
.ahorros__saldos{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
}
.ahorros__saldos > h1{
    font-size: 14px;
    color: #78787A;
    font-weight: 900;
}
.ahorros__saldos > p{
    font-size: 12px;
    color: #78787A;
    font-weight: 300;
}
.ahorros__cards{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.ahorros__cards__item{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.cards__item__title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cards__item__titulo{
    color: #FF8300;
    font-size: 18px;
    margin: 0 10px;
}
.cards__item__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
}
.cards__item__edit{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.item__edit__boton{
    margin: auto 0;
    width: 20%;
}
.item__edit__boton > i{
    font-size: 14px;
}
.item__edit__text{
    width: 80%;
}
.botones__consultas{
    width: 100%;
    margin: 10px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.boton__consulta__tasa{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    border: #FF8300 solid 1px;
}
.boton__consulta__cuenta{
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    border: #FF8300 solid 1px;
}
.boton__consulta__reg{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    border: #FF8300 solid 1px;
}
.boton__consulta__comp{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    border: #FF8300 solid 1px;
}
.options{
    width: 100%;
    height: 100%;
    background-color: #FF8300;
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    left: 100%;
    transition: left 0.3s;
}
.options-visible{
    left: 0%
}
.options__options{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.cards{
    width: 100%;
    margin: 10px 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.cards--movimientos{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
.cards--otros{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.cards__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
    height: 80px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.cards__parrafo,
.cards__icono{
    color: white;
    margin-top: 5px;
}