@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../assets/background_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.container .logo_login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.container .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    flex-direction: column;
}
.container .footer a{
    text-decoration: none;
    color: white;
}
.form_login{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.form_login .title__login{
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}
.form_login .inputs__login {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_login .inputs__login label{
    padding: 10px 5px;
}
.form_login .inputs__login label div{
   display: flex;
   align-items: center;
   margin-bottom: 5px;
}
.form_login .inputs__login label input{
    outline: none;
    width: 100%;
    height: 30px;
}
.form_login .inputs__login label i{
    color: white;
    margin-right: 5px;
}
.form_login .inputs__login label {
    color: white;
    margin-left: 10px;
}
.form_login .buttons_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_login .forgot_password a{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #F99537;
    font-size: 14px;
}
.form_login .buttons_login .buttons_login__primary{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #DE7A1B;
    color: white;
    border: 2px solid #F99537;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
}

.form_login .buttons_login .buttons_login__secondary{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F99537;
    background-color: transparent;
    border: 2px solid #F99537;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
}
/* .container .buttons_login input:hover {
    background-color: #3057E1;
    color: white;
} */
.form_login .buttons_login p {
    color: #F99537;
    font-size: 14px;
}

@media (min-width: 992px) {
    .container{
        width: 20%;
        justify-content: flex-end;
    }
    .container .logo_login{
        display: none;
    }
    
}
