@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}

body{
    padding: 60px 0 0;
    background-color: #d9d9d9;
}
.header {
    background-color: #FF8300;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.navbar__logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 24px;
}
.fa-solid{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 24px;
}