@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #d9d9d9;
}
.prestamos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}
.prestamos__link,
.prestamos__icono{
    font-size: 14px;
    color: #FF8300;
    text-decoration: none;
}
.prestamos__titulo{
    color: #FF8300;
}
.prestamos__texto{
    font-size: 14px;
    color: #78787A;
    font-weight: 900;
    margin: 20px 0;
}
.cards__item {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.cards__imagen{
    width: 100%;
}
.item__informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.item__datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.datos__titulo{
    font-size: 14px;
    color: #78787A;
    font-weight: 900;
}
.datos__texto{
    font-size: 12px;
    color: #78787A;
    font-weight: 300;
}
.titulos__bold{
    font-size: 18px;
    color: #78787A;
    font-weight: 900;
    line-height: 17px;
}

/* PRESTAMOS SOLICITUD PRESTAMO */
.solicitud{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #FF8300;
    border-top: white solid 2px;
}
.solicitud__header{
    padding: 5px;
}
.modal-simulacion{
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.solicitud__form{
    padding: 5px;
}
.form__inputs{
    outline: none;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 0px 0 #78787A;
}
.form__inputs:focus{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.form__inputs::placeholder{
    color: #78787A;
}
.form__botones{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.boton__cancelar{
    color: #FF8300;
    background-color: transparent;
    text-decoration: underline;
    border: none;
}
.boton__aceptar{
    background-color: #FF8300;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.prestamo__condiciones{
    margin-top: 10px;
    padding: 5px;
}
.prestamos__condiciones{
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: #FF8300 solid 1px;
    border-radius: 5px;
    margin: 10px 0;
    justify-content: space-between;
}
.terminos__condiciones{
    padding: 5px;
}
.terminos__condiciones__textos{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

/* MODAL PRESTAMO 2 */
.modal-simulacion-two{
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.solicitud__descuento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: #d9d9d9 solid 1px;
    padding: 15px 0;
    margin: 10px 0;
}
.solicitud__tabla{
    display: flex;
    padding: 5px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.solicitud__montos{
    width: 100%;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
}
.montos__item{
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
}

/* MODAL PRESTAMO 3 */
.modal-simulacion-three{
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
/* MODAL PRESTAMO 4 */
.modal-simulacion-four{
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
/* MODAL PRESTAMO 5 */
.modal-simulacion-five{
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.solicitud__recibida{
    align-items: flex-start;
}
.solicitud__options{
    padding: 5px;
}

/* Modificadores del modal */
.modal-hide{
    display: none;
}
